<!-- Created By Jack Thake @rocketbuney -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather Station</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="jumbotron" style="margin-bottom:0px; color:white; background-color:#2196F3;">
      <h2 class="text-center" style="font-size:45px; font-weight:450;">Get Current Weather Data From Arround The World.</h2>
    </div>
    <div class="container">
      <div class="row" style="margin-bottom:20px;">
        <h3 class="text-center text-primary">Enter a city name.</h3>
      </div>
      <div class="row form-group form-inline" id="main-div">
        <input type="text" name="city" id="city" class="form-control" placeholder="City Name">
        <button id="submit-weather" class="btn btn-primary">Search City</button>
        <div class="btn-group">
          <button id="c" class="btn btn-default">&deg;C</button>
          <button id="f" class="btn btn-default">&deg;F</button>
        </div>
      </div>
      <div id="show">
        <!-- JS changes Values -->
      </div>
      <div id="labels" class="text-primary text-center">
        <!-- JS Handles This -->
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="scripts/pageManage.js"></script>
  </body>
</html>
